.o_form_view {
    .o_form_sheet_bg .o_form_sheet {
        max-width: none;
        width: auto;
    }
    .oe_chatter {
        max-width: none;
    }
}

.o_preview_viewerjs,
.o_preview_viewerjs iframe {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

.o_preview_pdfjs,
.o_preview_pdfjs iframe {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}



